<!DOCTYPE html>
<html>

<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      p {
          font-family: "Times New Roman";
          font-size: 40px;
          text-align: center;
          color: gray;
          image-align: center;
      }
      p1{
          font-family: "Times New Roman";
          font-size: 25px;
          color: red;
          image-align: center;
      }
      p2{
          font-family: "Times New Roman";
          font-size: 20px;
          color: white;
          image-align: center;
      }
      img {
          width:100%;
      }
  </style>
  <title>10 Best Chest Exercises</title>
</head>
<body>
<h1>10 BEST CHEST EXERCISES FOR BUILDING MUSCLE</h1>
<p><%= image_tag("dips-for-chest.jpg", :alt => "Chest dips") %><br>
  Have you ever wondered what the absolute best muscle-building movements for your chest are? Wonder no more! Here are our top 10 pec-building picks.
</p>
<p1>Have you ever wondered what the absolute best muscle-building movements for your chest are? Wonder no more! Here are our top 10 pec-building picks.<br>
  <br></p1>
<p2>There are dozens of exercises you can do on chest day. In fact, the Bodybuilding.com Exercise Database lists at least 84, but you probably don't want to spend a Monday afternoon—or several Mondays—trying them all. You just want to know the best exercises for building a muscular chest, no questions asked. We've done the work for you, and found the top 10.<br>

  Mind you, this list doesn't correlate to the hardest chest exercises. It's focused on the best-of-the-best mass builders, with a little bit of instruction and explanation to complement each choice. You can swap exercises in your current routine for these choices, build your own chest workout with a handful of them, or just try one when your standard chest workout gets stale.<br>

  Without further ado, here are our top 10 chest-building exercises, ranked in no particular order.<br><br>
</p2>
<p1>1:- BARBELL BENCH PRESS </p1>
<br>
<p2><br>WHY IT MADE THE LIST<br>
  You can generate the most power with barbell lifts, so the standard barbell bench allows you to move the most weight. It's also an easier lift to control than pressing with heavy dumbbells. The exercise is easy to spot and relatively easy to learn (if not master), There are plenty of bench-press programs you can follow to increase your strength.
  <br></p2>
<p><%= image_tag("bench-press.jpg", :alt => "Bench Press") %><p>
  <p1>2:- FLAT-BENCH DUMBBELL PRESS <br></p1>
<p><%= image_tag("dumbbell-press.jpg", :alt => "Dumbbell Press") %><p>
  <p1>3:- LOW-INCLINE BARBELL BENCH PRESS <br></p1>
<p><%= image_tag("machine-incline.jpg", :alt => "Incline Bench Press") %><p>
  <p1>4:- MACHINE DECLINE PRESS (CROSS-BODY)  <br></p1>
  <p2>WHY IT MADE THE LIST<br>
    Some machines, like Hammer Strength, allow you to move each arm independently, which is a great feature on chest day. Besides doing a machine decline press straight on, you can sit sideways on the apparatus and press across your body one arm at a time, which delivers a completely different feel than when you sit straight-on.<br>

    One of the primary muscle actions of the pec major is transverse adduction—think cable flyes or pec-deck flyes to understand this action. By sitting in a sideways position, you can maximize your press with a pec-dominant horizontal adduction, effectively getting more from the movement.<br>

    IN YOUR WORKOUT<br>
    Do free-weight exercises first in your chest workout because they require more effort and stabilizer muscles than machines. With that in mind, this could be the last multijoint exercise in your routine.<br></p2>
  <p1>5:- SEATED MACHINE CHEST PRESS <br></p1>
<p><%= image_tag("chest-press.jpg", :alt => "Chest Press") %><p>
  <p1>6:- INCLINE DUMBBELL PRESS <br></p1>
  <p2>WHY IT MADE THE LIST<br>
    Dumbbell presses make everybody's top 10 list, but with an adjustable bench you can do a number of things you can't with a fixed bench. Our favorite: changing the angle of the incline from one set to the next, or from one workout to the next. Hitting a muscle from varying degrees of incline angles builds it more thoroughly.<br></p2>
  <p1>7:- DIP FOR CHEST<br></p1>
<p><%= image_tag("dips-for-chest.jpg", :alt => "Chest Dips") %><p>
  <p1>8:- INCLINE BENCH CABLE FLY<br></p1>
<p><%= image_tag("cable-flye.jpg", :alt => "Cable Flye") %><p>
  <p1>9:- INCLINE DUMBBELL PULL-OVER<br></p1>
  <p2>WHY IT MADE THE LIST<br>
    Forget flat-bench pull-overs; the incline version puts your chest fibers under tension for a longer range of motion! Just sit back against a bench inclined to about 45 degrees and make sure the dumbbell clears the top. Make sure you keep this a single-joint movement; don't bend or extend at the elbows.<br>

    Remember, you should have a specific reason for each movement you complete. Pull-over exercises work the shoulder-extension movement pattern (moving the upper arm rearward), which can really torch the pecs since they're one of the primary muscle groups involved in this action!<br>

    IN YOUR WORKOUT<br>
    Do pull-overs at the very end of your workout for sets of 12. On every set, hold the peak contraction of the last rep for a full five seconds.<br>


    <p1>10:- PEC-DECK MACHINE<br></p1>
    <p><%= image_tag("pec-deck.jpg", :alt => "Pec Deck") %><p>

</body>
</html>
